.home {
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;
}

.home-title {
  text-align: center;
  color: white;
  margin-top: -110px;  
  font-family: 'Lucida Bright', serif;
  font-size: 4rem;
  position: absolute;
  top: 5%;
  left: 12%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #3f51b5;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

a:visited {
  color: inherit;
}