@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #020d33;
  font-family: "Montserrat", sans-serif;
  padding-top: 60px;
}

.navMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; 
    background-color: #020d33;
  }

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search-box input[type="search"] {
    border-radius: 15px; 
  }
  
  .search-box button[type="submit"] {
    border-radius: 15px; 
    font-size: 16px; 
  padding: 3px 5px; 
  
  }

  .sound-button i {
    font-size: 30px; 
    margin-left: 15px;
  }
  .sound-button {
    align-self:flex-start;
  }

  button {
    background-color: #5c6bc0;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3f51b5;
  }